[submodule "components/esp32-camera"]
	path = components/esp32-camera
	url = https://github.com/espressif/esp32-camera.git
	branch = master

[submodule "components/esp-idf-ssd1306"]
	path = components/esp-idf-ssd1306
	url = https://github.com/bkeevil/esp-idf-ssd1306.git
	branch = development
[submodule "components/weather_seniverse"]
	path = components/weather_seniverse
	url = git@github.com:fmkong/weather_seniverse.git
