body {
  font-family: Arial,Helvetica,sans-serif;
  background: #181818;
  color: #EFEFEF;
  font-size: 16px
}

section#main {
  display: flex;
  flex-direction: column;
}

section#header {
  min-width: 342px;
  background-color: #363636;
  margin-bottom: 6px;
  padding: 4px 12px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 4px;
  justify-content: space-between;
}

section#content {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch
}

section#sidebar {
  display: flex;
  flex-direction: column;
}

nav#maintoolbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

nav#sidetoolbar {
  display: flex;
  flex-direction: column;
}

nav.menu {
  display: none;
  flex-direction: column;
  flex-wrap: nowrap;
  min-width: 350px;
  background: #363636;
  padding: 8px;
  border-radius: 4px;
  margin-top: -10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

figure {
  padding: 0px;
  margin: 0;
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: 0;
  margin-inline-end: 0
}

figure img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-top: 8px;
}

@media (min-width: 800px) and (orientation:landscape) {
  section#content {
      display:flex;
      flex-wrap: nowrap;
      align-items: stretch
  }

  figure img {
      display: block;
      max-width: 100%;
      max-height: calc(100vh - 40px);
      width: auto;
      height: auto
  }

  figure {
      padding: 0 0 0 0px;
      margin: 0;
      -webkit-margin-before: 0;
      margin-block-start: 0;
      -webkit-margin-after: 0;
      margin-block-end: 0;
      -webkit-margin-start: 0;
      margin-inline-start: 0;
      -webkit-margin-end: 0;
      margin-inline-end: 0
  }
}

.settings-label {
  height: 36px;
}

.nav-toggle {
  cursor: pointer;
  display: block;
}

.nav-toggle-cb {
  height: 12px;
  display: none;
  outline: 0;
  opacity: 0;
  width: 0;
}

#nav-toggle-basic-cb:checked+#basic-menu,
#nav-toggle-network-cb:checked+#network-menu,
#nav-toggle-adv-cb:checked+#adv-menu {
  display: flex;
}

.input-group {
  display: flex;
  flex-wrap: nowrap;
  line-height: 22px;
  margin: 5px 0
}

.input-group>label {
  display: inline-block;
  padding-right: 10px;
  min-width: 38%
}

.input-group>output {
  min-width: 25px;
    padding: 0 5px;
}

.input-group input,.input-group select {
  flex-grow: 1
}

.range-max,.range-min {
  display: inline-block;
  padding: 0 5px
}

button, .button {
  display: block;
  margin: 5px;
  padding: 8px 12px;
  border: 0;
  line-height: 16px;
  cursor: pointer;
  color: #fff;
  background: #3034ff;
  border-radius: 5px;
  font-size: 16px;
  outline: 0
}

button:hover {
  background: #494dff
}

button:active {
  background: #1c21f2
}

button.disabled {
  cursor: default;
  background: #a0a0a0
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 22px;
  background: #363636;
  cursor: pointer;
  margin: 0
}

input[type=range]:focus {
  outline: 0
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #EFEFEF;
  border-radius: 0;
  border: 0 solid #EFEFEF
}

input[type=range]::-webkit-slider-thumb {
  border: 1px solid rgba(0,0,30,0);
  height: 22px;
  width: 22px;
  border-radius: 50px;
  background: #3034ff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11.5px
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #EFEFEF
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #EFEFEF;
  border-radius: 0;
  border: 0 solid #EFEFEF
}

input[type=range]::-moz-range-thumb {
  border: 1px solid rgba(0,0,30,0);
  height: 22px;
  width: 22px;
  border-radius: 50px;
  background: #3034ff;
  cursor: pointer
}

input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: 0 0;
  border-color: transparent;
  color: transparent
}

input[type=range]::-ms-fill-lower {
  background: #EFEFEF;
  border: 0 solid #EFEFEF;
  border-radius: 0
}

input[type=range]::-ms-fill-upper {
  background: #EFEFEF;
  border: 0 solid #EFEFEF;
  border-radius: 0
}

input[type=range]::-ms-thumb {
  border: 1px solid rgba(0,0,30,0);
  height: 22px;
  width: 22px;
  border-radius: 50px;
  background: #3034ff;
  cursor: pointer;
  height: 2px
}

input[type=range]:focus::-ms-fill-lower {
  background: #EFEFEF
}

input[type=range]:focus::-ms-fill-upper {
  background: #363636
}

input[type=text], input[type=password] {
  border: 1px solid #363636;
  font-size: 14px;
  height: 20px;
  width: 20px; /* ??? */
  margin: 1px;
  outline: 0;
  border-radius: 5px
}

.inline-button {
  line-height: 20px;
  margin: 2px;
  padding: 1px 4px 2px 4px;
}

.switch {
  display: block;
  position: relative;
  line-height: 22px;
  font-size: 16px;
  height: 22px
}

.switch input {
  outline: 0;
  opacity: 0;
  width: 0;
  height: 0
}

.slider {
  width: 50px;
  height: 22px;
  border-radius: 22px;
  cursor: pointer;
  background-color: grey
}

.slider,.slider:before {
  display: inline-block;
  transition: .4s
}

.slider:before {
  position: relative;
  content: "";
  border-radius: 50%;
  height: 16px;
  width: 16px;
  left: 4px;
  top: 3px;
  background-color: #fff
}

input:checked+.slider {
  background-color: #3034ff
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px)
}

select {
  border: 1px solid #363636;
  font-size: 14px;
  height: 22px;
  outline: 0;
  border-radius: 5px
}

.image-container {
  position: relative;
  min-width: 160px
}

.hidden {
  display: none
}